<%= render "shared/patient_records/provide_patient_record_side_bar", patient_record: @patient_record, 
  scope: :admin, current_site: :treatment_phases %>
<section class="content-header clearfix">
  <h1 class="pull-left"><%= t ".treatment_phases" %></h1>
  <%= link_to new_admin_patient_record_treatment_phase_path(@patient_record), 
    class: "btn btn-primary btn-flat pull-right" do  %>
    <i class="fa fa-plus"></i>
    <%= t ".add_treatment_phase" %>
  <% end %>
</section>
<section class="content">
  <%= render partial: "shared/treatment_phases/treatment_phase", 
    collection: @treatment_phases, as: :treatment_phase, locals: {scope: :admin} %>
</section>
