<%= render "shared/patient_records/provide_patient_record_side_bar",
  patient_record: @treatment_phase.patient_record, scope: :admin, current_site: :treatment_phases %>
<%= render "admin/clinics/provide_clinic_side_bar", clinic: @treatment_phase.patient_record.clinic,
  current_site: :patient_records %>
<% content_for "treatment_phase_#{active_tab}_activation".to_sym, "active" %>
<% provide :header_title, t(".treatment_phase_title_html",
  treatment_phase_name: @treatment_phase.name,
  clinic_name: @treatment_phase.patient_record.clinic.name,
  patient_name: @treatment_phase.patient_record.full_name) %>
<% breadcrumb :admin_treatment_phase, @treatment_phase %>

<div class="box">
  <div class="box-body">
    <%= render "shared/treatment_phases/general_information", treatment_phase: @treatment_phase %>
  </div>
</div>
<div class="nav-tabs-custom">
  <%= render "shared/treatment_phases/nav_tabs", treatment_phase: @treatment_phase,
    scope: :admin %>
  <div class="tab-content">
    <%= render "#{active_tab}_tab", treatment_phase: @treatment_phase, support: @support %>
  </div>
</div>
