<section class="home-section">
  <h3 class="title logo-font text-default">Các trường hợp có thể điều trị bằng Vinalign</h3>
  <div class="row mt-20">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-box text-center style-2 mb-20">
            <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-18.png", class: "rounded-circle img-thumbnail" %>
            <div class="body padding-horizontal-clear">
              <h5 class=" logo-font title">Hàm răng chen chúc</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-box text-center style-2 mb-20">
            <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-19.png", class: "rounded-circle img-thumbnail" %>
            <div class="body padding-horizontal-clear">
              <h5 class=" logo-font title">Hàm răng có khe thưa</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-box text-center style-2 mb-20">
            <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-20.png", class: "rounded-circle img-thumbnail" %>
            <div class="body padding-horizontal-clear">
              <h5 class=" logo-font title">Cắn chéo, cắn ngược</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-lg-4 offset-lg-2">
          <div class="image-box text-center style-2 mb-20">
            <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-21.png", class: "rounded-circle img-thumbnail" %>
            <div class="body padding-horizontal-clear">
              <h5 class=" logo-font title">Các trường hợp khớp cắn sâu</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-box text-center style-2 mb-20">
            <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-22.png", class: "rounded-circle img-thumbnail" %>
            <div class="body padding-horizontal-clear">
              <h5 class=" logo-font title">Các trường hợp vẩu</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
