<section class="home-section">
  <h3 class="title logo-font text-default">Hệ thống Vinalign hoạt động như thế nào?</h3>
  <p class="mb-20">
    Đây là tổng quan quá trình điều trị bằng hệ thống Vinalign
  </p>
  <div class="row pv-10">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-7.png" %>
        </div>
        <div class="col-lg-9">
          <h4>Bước 1</h4>
          <p class="text-justify">
            Đầu tiên, bác sĩ điều trị sẽ chụp ảnh, X-rays và lấy dấu mẫu hàm của bạn để cùng với hãng lập kế hoạch điều trị.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-8.png" %>
        </div>
        <div class="col-lg-9">
          <h4>Bước 2</h4>
          <p class="text-justify">
            Quá trình sản xuất khay Vinalign sẽ được tiến hành dựa trên mẫu hàm và các thông số mà bác sĩ đã thu thập cho từng bệnh nhân. Với kế hoạch điều trị, bạn có thể thấy được kết quả điều trị dự đoán sau cùng trực quan, sinh động.
            Kế hoach này sẽ được chuyển vào hệ thống máy in 3D để in ra các khay chỉnh nha cho bạn.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pv-10">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-6.png" %>
        </div>
        <div class="col-lg-9">
          <h4>Bước 3</h4>
          <p class="text-justify">
            Các khay chỉnh nha cá nhân hoá được sảnxuất, đóng gói và chuyển đến phòng khám.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-10.png" %>
        </div>
        <div class="col-lg-9">
          <h4>Bước 4</h4>
          <p class="text-justify">
            Một loạt các khay chỉnh nha cá nhân hoá sẽ được bác sĩ hướng dẫn và giao cho khách hàng (khoảng 2 khay 1 tháng) đeo tại nhà. Bạn có thể tự đeo, tháo lắp và tự vệ sinh. Thật sự tiện lợi và dễ dàng!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pv-10">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-11.png" %>
        </div>
        <div class="col-lg-9">
          <h4>Bước 5</h4>
          <p class="text-justify">
            Bạn sẽ phải tái khám tại cơ sở nha khoa theo chỉ định của bác sĩ của bạn, để kiểm soát tốt hơn quá trình đeo khay và nhận khay tiếp theo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-12.png" %>
        </div>
        <div class="col-lg-9">
          <h4>Bước 6</h4>
          <p class="text-justify">
            Sau khi kết thúc quá trình chỉnh nha bằng hệ thống khay trong suốt Vinalign, bạn cần duy trì tiếp kết quả điều trị bằng hàm duy trì, cũng bằng các khay trong suốt kèm theo của hệ thống.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
