<div class="row">
  <div class="devise-form col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body mx-4">
        <div class="text-center">
          <h2 class="mb-5 mt-4"><%= t ".sign_up" %></h2>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group has-feedback">
            <%= f.label class: "control-label" do %>
              <%= User.human_attribute_name :email %>
              <span class="text-danger small">*</span>
            <% end %>
            <%= f.email_field :login, autofocus: true, class: "form-control" %>
            <i class="fa fa-envelope form-control-feedback pr-4"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :password, class: "control-label" do %>
              <%= User.human_attribute_name :password %>
              <span class="text-danger small">*</span>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <i class="fa fa-lock form-control-feedback pr-4"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :password_confirmation, class: "control-label" do %>
              <%= User.human_attribute_name :password_confirmation %>
              <span class="text-danger small">*</span>
            <% end %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            <i class="fa fa-lock form-control-feedback pr-4"></i>
          </div>
          <div class="actions mb-3 mt-5">
            <%= f.submit t(".sign_up"), class: "btn blue-gradient btn-block btn-rounded z-depth-1a" %>
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
