<li class="<%= 'bg-info' if notification.is_unread? %>">
  <%= link_to notification.target_path, data: {"notification-id" => notification.id},
    onclick: (notification.is_read? ? "javascript:void(0)" : "readNotification($(this))") do %>
    <div class="media">
      <div class="media-left">
        <%= image_tag notification.creator.avatar.small.url, class: "media-object" %>
      </div>
      <div class="media-body">
        <%= notification_content_format notification.content %><br/>
        <small class="text-muted"><%= time_with_format notification.created_at %></small>
      </div>
    </div>
  <% end %>
</li>
