<% provide :header_title, t(".patient_record_title_html", name: @patient_record.full_name) %>
<% breadcrumb :clinic_mngt_patient_record, @patient_record %>
<%= render "shared/patient_records/provide_patient_record_side_bar", patient_record: @patient_record,
  scope: :clinic_management, current_site: :administrative_informations %>
<div class="row">
  <div class="col-md-6">
    <%= render "shared/patient_records/details", patient_record: @patient_record %>
  </div>
  <%= image_tag @patient_record.profile_photo.medium.url %>
</div>
<%= link_to edit_clinic_management_patient_record_path(@patient_record),
  class: "btn btn-warning btn-flat" do %>
  <i class="fa fa-pencil-square-o"></i>
  <%= t ".edit" %>
<% end %>
