<tr>
  <td>
    <%= index_on_pagination patient_record_counter, assigns["patient_records"].current_page,
      Settings.patient_records.per_page %>
  </td>
  <td>
    <%= link_to patient_record.full_name, url_for([:admin, patient_record, :treatment_phases]) %>
  </td>
  <td><%= t ".#{patient_record.gender}" %></td>
  <td><%= patient_record.age %></td>
  <td><%= patient_record.phone_number %></td>
  <td><%= time_with_format patient_record.start_date %></td>
  <td>
    <%= link_to edit_admin_patient_record_path(patient_record),
      class: "btn btn-warning btn-xs btn-flatt" do %>
      <i class="fa fa-pencil-square-o"></i>
      <%= t ".edit" %>
    <% end %>
    <%= link_to admin_patient_record_path(patient_record), method: :delete,
      data: {confirm: t(".confirm_delete")}, class: "btn btn-danger btn-xs btn-flat" do %>
      <i class="fa fa-trash-o"></i>
      <%= t ".delete" %>
    <% end %>
  </td>
</tr>
