<button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#import-modal">
  <i class="fa fa-upload"></i>
  <%= t ".import_price_lists" %>
</button>
<div id="import-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".import_price_lists" %></h4>
      </div>
      <%= form_tag import_admin_patient_record_price_lists_path(patient_record_id: patient_record.id),
        multipart: true, class: "form-horizontal" do %>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag :file, class: "control-label col-md-4" do %>
              <%= t ".select_file_to_import" %>
              <span class="text-danger">*</span>
            <% end %>
            <div class="col-md-8">
              <%= file_field_tag :file, class: "form-control" %>
            </div>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">
            <%= t ".close" %>
          </button>
          <%= submit_tag t(".import"), class: "btn btn-flat btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
