<%= render "shared/patient_records/provide_patient_record_side_bar", patient_record: @patient_record,
  scope: :admin, current_site: :price_lists %>
<%= render "admin/clinics/provide_clinic_side_bar", clinic: @patient_record.clinic, current_site: :patient_records %>
<% provide :header_title, t(".price_lists_title_html", clinic_name: @patient_record.clinic_name,
  patient_name: @patient_record.full_name) %>
<% breadcrumb :admin_patient_record_price_lists, @patient_record %>

<div class="box">
  <div class="box-body">
    <%= link_to new_admin_patient_record_price_list_path(@patient_record),
      class: "btn btn-primary btn-flat", remote: true do %>
      <i class="fa fa-plus"></i>
      <%= t ".add_price_list" %>
    <% end %>
    <%= render "import_modal", patient_record: @patient_record %>
    <hr/>
    <table class="table table-hover">
      <thead>
        <th>#</th>
        <th><%= PriceList.human_attribute_name :item %></th>
        <th><%= PriceList.human_attribute_name :price %></th>
      </thead>
      <tbody id="price-lists">
        <%= render partial: :price_list, collection: @price_lists, as: :price_list %>
      </tbody>
    </table>
  </div>
</div>
