<tr>
  <td>
    <%= index_on_pagination article_counter, assigns["articles"].current_page,
      Settings.articles.per_page %>
  </td>
  <td><%= article.title %></td>
  <td><%= t ".#{article.category}" %></td>
  <td><%= time_with_format article.created_at %></td>
  <td>
    <div class="dropdown btn-dropdown">
      <a data-toggle="dropdown"><i class="fa fa-bars"></i></a>
      <ul class="dropdown-menu dropdown-menu-right dropdown-btns">
        <li>
          <%= link_to edit_admin_article_path(article),
            class: "btn btn-xs btn-flat" do %>
            <i class="fa fa-pencil-square-o"></i>
            <%= t ".edit" %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to admin_article_path(article), method: :delete,
            data: {confirm: t(".confirm_delete", title: article.title)}, class: "btn btn-xs btn-flat" do %>
            <i class="fa fa-trash-o"></i>
            <%= t ".delete" %>
          <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>
