<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-lg-8">
        <h1 class="page-title"><%= t ".#{@article.category}" %></h1>
        <article class="blogpost full">
          <header>
            <h3 class="my-4"><%= @article.title %></h3>
            <div class="post-info mb-4">
              <span class="post-date">
                <i class="fa fa-calendar"></i>
                <span class="day"><%= time_with_format @article.created_at %></span>
              </span>
            </div>
          </header>
          <div class="blogpost-content text-justify">
            <%= simple_format @article.content %>
          </div>
        </article>
        <hr/>
      </div>
      <aside class="col-lg-4 col-xl-3 ml-xl-auto">
        <div class="sidebar">
          <div class="block clearfix">
            <h3 class="title"><%= t ".related_articles" %></h3>
            <div class="separator-2"></div>
            <%= render partial: "article_sidebar", collection: @related_articles, as: :article %>
            <div class="text-right space-top">
              <%= link_to category_articles_path(category: @article.category), class: "link-dark" do %>
                <i class="fa fa-plus-circle pl-1 pr-1"></i>
                <%= t ".more" %>
              <% end %>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
