<div class="modal fade" id="modal-upload-files" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><%= t(".add_file") %></h4>
      </div>
      <div class="">
        <div id="uploader">
          <p><%= t ".not_supported" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $("#uploader").plupload({
      runtimes: "html5,flash,silverlight,html4",
      url: "<%= admin_treatment_phase_treatment_plan_files_path(treatment_phase) %>",
      multipart_params: {
        "<%= request_forgery_protection_token %>": "<%= form_authenticity_token %>"
      },
      file_data_name: "sources",
      // filters: [
      //   {
      //     title: "Image files",
      //     extensions: "jpg, gif, png, jpeg"
      //   }, {
      //     title: "Zip files",
      //     extensions: "zip,avi"
      //   }
      // ],
      rename: true,
      sortable: true,
      dragdrop: true,
      views: {
        list: true,
        thumbs: true,
        active: "thumbs"
      },
      init: {
        FilesAdded: function(up, files) {
          up.start();
        },
        UploadComplete: function(up, files) {
          alert("<%= I18n.t('files.filed_uploaded') %> " + files.length + " <%= I18n.t('files.files') %>");
          $("#modal-upload-files").modal("hide");
          $(".modal-backdrop").hide();
          location.reload();
        }
      }
    });
  });
</script>
