<div class="form-group">
  <%= f.label :name, TreatmentPhase.human_attribute_name(:name),
    class: "control-label col-md-2" %>
  <div class="col-md-4">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :start_date, TreatmentPhase.human_attribute_name(:start_date),
    class: "control-label col-md-2" %>
  <div class="col-md-4">
    <%= f.date_field :start_date, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, TreatmentPhase.human_attribute_name(:description),
    class: "control-label col-md-2" %>
  <div class="col-md-4">
    <%= f.text_area :description, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-2 col-md-5">
    <%= f.submit t(".create_treatment_phase"), class: "btn btn-primary btn-flat" %>
  </div>
</div>
