<div class="row">
  <div class="col col-md-3">
    <div class="list-group" id="album-list">
      <%= render partial: "shared/treatment_phases/album", collection: support.albums, as: :album,
        locals: {current_album: support.album, scope: scope} %>
    </div>
    <%= link_to url_for([:new, scope, treatment_phase, :album]), remote: true,
      class: "btn btn-primary btn-flat" do %>
      <i class="fa fa-plus"></i>
      <%= t ".new_album" %>
    <% end %>
  </div>
  <div class="col col-md-9">
    <div id="form-upload">
      <%= render "images/form_upload", album: support.album if support.album.present? %>
    </div>
    <div id="images-presentation">
      <% if support.album.present? %>
        <%= render "images/images_presentation", images: support.album_images, album: support.album %>
      <% end %>
    </div>
  </div>
</div>
