<div class="row">
  <div class="col col-md-8">
    <%= render "shared/treatment_phases/conversation", treatment_phase: treatment_phase,
      messages: support.messages %>
  </div>
  <div class="col col-md-4">
    <% if scope == :admin %>
      <%= button_tag class: "btn btn-primary btn-flat pull-right", id: "add-files",
        data: {toggle: "modal", target: "#modal-upload-files"} do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <%= t(".add") %>
      <% end %>
      <%= render "shared/treatment_phases/form_upload", treatment_phase: treatment_phase %>
    <% end %>
    <%= render "shared/treatment_phases/treatment_plan_files",
      treatment_plan_files: support.treatment_plan_files, treatment_phase: treatment_phase %>
  </div>
</div>
