<header class="main-header">
  <div>
    <%= link_to admin_root_path, class:"brand-logo-small logo" do %>
      <%= image_tag Settings.logo_square.url, id: "logo_img", width: "40" %>
    <% end %>
    <%= link_to admin_root_path, class: "brand-logo-large logo" do %>
      <%= image_tag Settings.logo.url, id: "logo_img", width: "150" %>
    <% end %>
  </div>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only"><%= t ".toggle_navigation" %></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu" id="notification-menu">
          <%= render "layouts/shared/notification_menu",
            noti_count: current_user.user_profile.received_notifications.count,
            unread_noti_count: current_user.user_profile.received_notifications.unread.count %>
        </li>
      </ul>
    </div>
  </nav>
</header>
