<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_user.avatar.small.url, class: "img-circle" %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.username %></p>
        <%= link_to "#" do %>
          <i class="fa fa-circle text-success"></i>
          <%= t ".online" %>
        <% end %>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"><%= t ".main_navigation" %></li>
      <li class="<%= content_for :clinics_activation %>
        <%= 'active menu-open' if content_for? :clinic_side_bar %>">
        <%= link_to admin_clinics_path do %>
          <i class="fa fa-hospital-o"></i>
          <span><%= t ".clinics" %></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        <% end %>
        <%= yield :clinic_side_bar %>
      </li>
      <li class="<%= content_for :doctors_activation %>">
        <%= link_to admin_users_path do %>
          <i class="fa fa-user"></i>
          <span><%= t ".doctors" %></span>
        <% end %>
      </li>
      <li class="<%= content_for :experts_activation %>">
        <%= link_to admin_experts_path do %>
          <i class="fa fa-briefcase"></i>
          <span><%= t ".experts" %></span>
        <% end %>
      </li>
      <li class="<%= content_for :articles_activation %>">
        <%= link_to admin_articles_path do %>
          <i class="fa fa-newspaper-o"></i>
          <span><%= t ".articles" %></span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
