<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_user.avatar.small.url, class: "img-circle" %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.username %></p>
        <%= link_to "#" do %>
          <i class="fa fa-circle text-success"></i>
          <%= t ".online" %>
        <% end %>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"><%= t ".main_navigation" %></li>
      <li class="<%= content_for :clinics_activation %>">
        <%= link_to admin_clinics_path do %>
          <i class="fa fa-hospital-o"></i>
          <span><%= t ".clinics" %></span>
        <% end %>
      </li>
      <li class="<%= content_for :patient_records_activation %>
        <%= 'active menu-open' if content_for? :patient_record_side_bar %>">
        <%= link_to admin_patient_records_path do %>
          <i class="fa fa-file-text"></i>
          <span><%= t ".patient_records" %></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        <% end %>
        <% if content_for? :patient_record_side_bar %>
          <%= yield :patient_record_side_bar %>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
