<%= render "shared/patient_records/provide_patient_record_side_bar", patient_record: @patient_record,
  scope: :clinic_management, current_site: :price_lists %>
<% provide :header_title, t(".price_lists_title_html", patient_record_name: @patient_record.full_name) %>
<% breadcrumb :clinic_mngt_patient_record_price_lists, @patient_record %>
<div class="box">
  <div class="box-body">
    <table class="table table-hover">
      <thead>
        <th><%= PriceList.human_attribute_name :id %></th>
        <th><%= PriceList.human_attribute_name :item %></th>
        <th><%= PriceList.human_attribute_name :price %></th>
      </thead>
      <tbody id="price-lists">
        <%= render partial: :price_list, collection: @price_lists, as: :price_list %>
      </tbody>
    </table>
  </div>
</div>
