<div class="container">
  <%= render "pages/abouts/introduction" %>
  <%= render "pages/abouts/processes" %>
  <%= render "pages/abouts/benefits" %>
  <%= render "pages/abouts/advantages" %>
  <%= render "pages/abouts/cases" %>
  <%= render "pages/abouts/conclusion" %>
</div>
