<div class="col-10 col-md-7">
  <div id="header-top-second" class="clearfix text-right">
    <ul class="list-inline">
      <% if user_signed_in? %>
        <div class="dropdown">
          <button type="button" class="btn btn-default btn-sm pointer dropdown-toggle" data-toggle="dropdown">
            <%= current_user.full_name %>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <% if current_user.admin? %>
              <%= link_to admin_root_path, class: "dropdown-item" do %>
                <i class="fa fa-cogs pr-2"></i>
                <%= t ".management" %>
              <% end %>
            <% else %>
              <%= link_to clinic_management_root_path, class: "dropdown-item" do %>
                <i class="fa fa-cogs pr-2"></i>
                <%= t ".management" %>
              <% end %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <i class="fa fa-sign-out pr-2"></i>
              <%= t(".log_out") %>
            <% end %>
          </div>
        </div>
      <% else %>
      <div class="dropdown">
        <%= link_to new_user_session_path, id: "btn-login", data: {toggle: "dropdown"}, class: "btn btn-default btn-flat btn-sm link-light dropdown-toggle--no-caret" do %>
          <i class="fa fa-lock pr-2"></i>
          <%= t(".log_in") %>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right login-dropdown">
          <li>
            <div class="">
              <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
                <div class="form-group has-feedback">
                  <%= f.label class: "control-label" do %>
                    <%= User.human_attribute_name :login %>
                    <span class="text-danger small">*</span>
                  <% end %>
                  <%= f.text_field :login, autofocus: true, class: "form-control" %>
                  <i class="fa fa-envelope form-control-feedback pr-4"></i>
                </div>
                <div class="form-group has-feedback">
                  <%= f.label class: "control-label" do %>
                    <%= User.human_attribute_name(:password) %>
                    <span class="text-danger small">*</span>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  <i class="fa fa-lock form-control-feedback pr-4"></i>
                </div>
                <div class="form-group   has-feedback">
                  <div class="pull-left">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, t(".remember_me") %>
                  </div>
                  <div class="pull-right">
                    <p class="font-small blue-text d-flex">
                      <%= link_to t(".forgot_your_password"), new_password_path(:user) %>
                    </p>
                  </div>
                </div>
                <div class="actions mb-3">
                  <%= f.submit t(".login"), class: "btn btn-default btn-block pointer" %>
                </div>
              <% end %>
              <div class="separator mt-0"></div>
              <div class="devise-links">
                <span class="font-small grey-text pull-right ">
                  <%= link_to t(".did_not_receive_confirmation_instructions"), new_confirmation_path(:user) %><br />
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <% end %>
    </ul>
  </div>
</div>
