<header class="header fixed fixed-desktop clearfix">
  <div class="container">
    <div class="row header-baner">
      <div class="col-md-auto hidden-md-down">
        <div class="header-first clearfix">
          <div id="logo" class="logo">
            <%= link_to root_path do %>
              <%= image_tag Settings.logo.url, id: "logo_img", width: "250" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-2 ml-lg-auto">
        <div class="header-first clearfix">
            <span class="site-slogan pull-right">Clean Aligner Solutions</span>
        </div>
      </div>
    </div>
  <div class="seperated">
    <hr class="m-0"/>
  </div>
  <div class="row navigation-links">
    <div class="col-lg-12 ml-lg-auto">
      <div class="header-second clearfix">
        <div class="main-navigation main-navigation--mega-menu animated">
          <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="navbar-brand clearfix hidden-lg-up">
              <div id="logo-mobile" class="logo">
                <%= link_to root_path do %>
                <%= image_tag Settings.logo.url, id: "logo-img-mobile", width: "135" %>
              <% end %>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <!-- main-menu -->
            <ul class="navbar-nav ml-xl-auto">
              <li class="nav-item">
                <%= link_to t(".home"), root_path, class: "nav-link" %>
              </li>
              <li class="nav-seperated"></li>
              <li class="nav-item">
                <a href="#" class="nav-link">Case gallery</a>
              </li>
              <li class="nav-seperated"></li>
              <li class="nav-item">
                <a href="#" class="nav-link">Why Vinalign</a>
              </li>
              <li class="nav-seperated"></li>
              <li class="nav-item">
                <a href="#" class="nav-link">Vinalign patient</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
</header>
