<tr>
  <td>
    <%= index_on_pagination clinic_counter, assigns["clinics"].current_page,
      Settings.clinics.per_page %>
  </td>
  <td><%= link_to clinic.name, url_for([:admin, clinic, :patient_records]) %></td>
  <td><%= clinic.full_address %></td>
  <td>
    <div class="dropdown btn-dropdown">
      <a data-toggle="dropdown">...</a>
      <ul class="dropdown-menu dropdown-menu-right dropdown-btns">
        <li>
          <%= link_to edit_admin_clinic_path(clinic), class: "btn btn-xs btn-flat" do %>
            <i class="fa fa-pencil-square-o"></i>
            <%= t ".edit" %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to admin_clinic_path(clinic), method: :delete,
            data: {confirm: t(".confirm_delete")}, class: "btn btn-xs btn-flat" do %>
            <i class="fa fa-trash-o"></i>
            <%= t ".delete" %>
          <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>
