<%= form_for clinic_search, url: admin_clinics_path,
  html: {class: "form-horizontal", method: :get} do |f| %>
  <div class="row">
    <div class="col-md-2">
      <%= f.label :name, Clinic.human_attribute_name(:name) %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.label :province_id_eq, Clinic.human_attribute_name(:province) %>
      <%= f.select :province_id_eq, support.province_options,
        {include_blank: t(".all_provinces")}, class: "form-control" %>
    </div>
    <div class="col-md-2">
      </br>
      <%= f.button class: "btn btn-flat btn-primary btn-search" do %>
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <%= t(".search") %>
      <% end %>
    </div>
  </div>
<% end %>
