<div class="col-md-6">
  <h3><%= t ".clinic_info" %></h3>
  <div class="form-group">
    <%= f.label :name, class: "control-label col-md-4" do %>
      <%= Clinic.human_attribute_name :name %>
      <span class="text-danger">*</span>
    <% end %>
    <div class="col-md-5">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, Clinic.human_attribute_name(:phone_number),
      class: "control-label col-md-4" %>
    <div class="col-md-5">
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :province, class: "control-label col-md-4" do %>
      <%= Clinic.human_attribute_name :province %>
      <span class="text-danger">*</span>
    <% end %>
    <div class="col-md-5">
      <%= select_tag :province, options_for_select(@support.province_options, @clinic.province_id),
        {include_blank: t(".select_province"), class: "form-control province_selection"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :district_id, class: "control-label col-md-4" do %>
      <%= Clinic.human_attribute_name :district %>
      <span class="text-danger">*</span>
    <% end %>
    <div class="col-md-5">
      <%= f.select :district_id, @support.district_options, {include_blank: t(".select_district")},
        class: "form-control district_selection" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class: "control-label col-md-4" do %>
      <%= Clinic.human_attribute_name(:address) %>
      <span class="text-danger">*</span>
    <% end %>
    <div class="col-md-5">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, class: "control-label col-md-4" do %>
      <%= Clinic.human_attribute_name :website %>
    <% end %>
    <div class="col-md-5">
      <%= f.text_field :website, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :facebook, class: "control-label col-md-4" do %>
      <%= Clinic.human_attribute_name :facebook %>
    <% end %>
    <div class="col-md-5">
      <%= f.text_field :facebook, class: "form-control" %>
    </div>
  </div>
