<%= f.fields_for :doctor, clinic.doctor do |df| %>
  <%= df.fields_for :user, clinic.doctor.user do |uf| %>
    <h3><%= t ".account_info" %></h3>
    <div class="form-group">
      <%= uf.label :email, class: "control-label col-md-4" do %>
        <%= User.human_attribute_name(:email) %>
        <span class="text-danger">*</span>
      <% end %>
      <div class="col-md-5">
        <%= uf.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= uf.label :username, class: "control-label col-md-4" do %>
        <%= User.human_attribute_name(:username) %>
        <span class="text-danger">*</span>
      <% end %>
      <div class="col-md-5">
        <%= uf.text_field :username, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= uf.label :password, User.human_attribute_name(:password),
        class: "control-label col-md-4" %>
      <div class="col-md-5">
        <%= uf.text_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= uf.label :password_confirmation, User.human_attribute_name(:password_confirmation),
        class: "control-label col-md-4" %>
      <div class="col-md-5">
        <%= uf.text_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= f.submit class: "btn btn-primary btn-flat" %>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-6">
  <h3><%= t ".manager_info" %></h3>
  <div class="form-group">
    <%= df.label :avatar, UserProfile.human_attribute_name(:avatar), class: "control-label col-md-4" %>
    <div class="col-md-5">
      <%= df.file_field :avatar, id: "image_upload" %>
      </br>
      <%= image_tag clinic.doctor.avatar_was, id: "image_preview", width: 200, style: "border: 1px;" %>
    </div>
  </div>
  <div class="form-group">
    <%= df.label :first_name, class: "control-label col-md-4" do %>
      <%= UserProfile.human_attribute_name(:first_name) %>
      <span class="text-danger">*</span>
    <% end %>
    <div class="col-md-5">
      <%= df.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= df.label :last_name, class: "control-label col-md-4" do %>
      <%= UserProfile.human_attribute_name(:last_name) %>
      <span class="text-danger">*</span>
    <% end %>
    <div class="col-md-5">
      <%= df.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= df.label :dob, UserProfile.human_attribute_name(:dob),
    class: "control-label col-md-4" %>
    <div class="col-md-5">
      <%= df.date_field :dob, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= df.label :gender, class: "control-label col-md-4" do %>
      <%= UserProfile.human_attribute_name(:gender) %>
      <span class="text-danger">*</span>
    <% end %>
    <div class="col-md-5">
      <%= df.select :gender, gender_options, {include_blank: t(".select_gender")}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= df.label :phone_number, UserProfile.human_attribute_name(:phone_number),
    class: "control-label col-md-4" %>
    <div class="col-md-5">
      <%= df.text_field :phone_number, class: "form-control" %>
    </div>
  </div>
  <% end %>
</div>
