<% provide :header_title, t(".clinics_management") %>
<% breadcrumb :admin_clinics %>
<% content_for :clinics_activation, "active" %>
<%= link_to "#", class: "btn btn-primary btn-flat" do %>
  <i class="fa fa-plus"></i>
  <%= t ".add_new_clinic" %>
<% end %>
<div class="box">
  <div class="box-header with-border">
    <%= render "filter", q: @q, support: @support %>
  </div>
  <div class="box-body">
    <%= render "shared/full_pagination", records: @clinics %>
    <% if @clinics.present? %>
      <%= render "clinic_list", clinics: @clinics %>
      <%= render "shared/full_pagination", records: @clinics %>
    <% end %>
  </div>
</div>
