<% content_for :users_activation, "active" %>
<section class="content-header clearfix">
  <h1 class="pull-left"><%= t ".users_management" %></h1>
  <%= link_to "#", class: "btn btn-primary btn-flat pull-right" do %>
    <i class="fa fa-plus"></i>
    <%= t ".add_new_user" %>
  <% end %>
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <%= render "filter", q: @q %>
    </div>
    <div class="box-body">
      <%= render "shared/full_pagination", records: @users %>
      <% if @users.present? %>
        <%= render "users_list", users: @users %>
        <%= render "shared/full_pagination", records: @users %>
      <% end %>
    </div>
  </div>
</section>
