<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= t ".general_info" %></h3>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <%= render "shared/data", attribute: UserProfile.human_attribute_name(:avatar), value: image_tag(user_profile.avatar.small.url) %>
      <%= render "shared/data", attribute: UserProfile.human_attribute_name(:full_name), value: user_profile.full_name %>
      <%= render "shared/data", attribute: UserProfile.human_attribute_name(:dob),
        value: time_with_format(user_profile.dob) %>
      <%= render "shared/data", attribute: UserProfile.human_attribute_name(:gender),
        value: t("gender.#{user_profile.gender}") %>
      <%= render "shared/data", attribute: UserProfile.human_attribute_name(:phone_number), value: user_profile.phone_number %>
    </table>
  </div>
  <div class="box-footer">
    <%= link_to edit_my_page_profile_path, class: "btn btn-warning btn-flat pull-right" do %>
      <i class="fa fa-pencil-square-o"></i>
      <%= t ".edit" %>
    <% end %>
  </div>
</div>
