<% if policy(album).add_images? || current_user.admin? %>
  <div class="modal fade" id="modal-upload-images" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title"><%= t(".add_image") %></h4>
        </div>
        <div class="">
          <div id="uploader">
            <p><%= t ".not_supported" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $("#uploader").plupload({
        runtimes: "html5,flash,silverlight,html4",
        url: "<%= album_images_path(album) %>",
        multipart_params: {
          "<%= request_forgery_protection_token %>": "<%= form_authenticity_token %>"
        },
        max_file_size : "100mb",
        file_data_name: "sources",
        filters: [
          {
            title: "Image files",
            extensions: "jpg,gif,png,jpeg"
          }
        ],
        rename: true,
        sortable: true,
        dragdrop: true,
        views: {
          list: true,
          thumbs: true,
          active: "thumbs"
        },
        init: {
          FilesAdded: function(up, files) {
            var maxfiles = "<%= Settings.album.max_images.to_i %>" - $("#images-list").children().length;
            maxfiles = Math.max(0, maxfiles)

            if(up.files.length > maxfiles ) {
              up.splice(maxfiles);
              alert("<%= I18n.t('images.too_much_image', max: Settings.album.max_images) %>");
            }
          },
          UploadComplete: function(up, files) {
            alert("<%= I18n.t('images.filed_uploaded') %> " + files.length + " <%= I18n.t('images.images') %>");
            $("#modal-upload-images").modal("hide");
            $(".modal-backdrop").hide();
            $.ajax({
              url: "<%= album_images_path(album) %>"
            }).done(function() {});
          },
          Error: function(up, args) {
            alert(args.message);
          }
        }
      });
    });
    $(".plupload_header_title").text("Chọn ảnh");
    $(".plupload_header_text").text("Thêm ảnh để tải lên và bấm vào nút bắt đầu");
    $(".plupload_droptext").text("Thả ảnh  vào đây");
  </script>
<% end %>
