<div class="col col-md-4">
  <div class="thumbnail">
    <%= check_box_tag "checked_params[#{image.id}]", image.id, checked = false, options = {class: "pull-right checkbox"} %>
    <%= link_to image.source.large.url, class: "image-popup image-link pt-image" do %>
      <%= image_tag image.source.thumb.url %>
    <% end %>
    <%= link_to download_image_path(image),
      class: "pull-right", target: "_blank" do %>
      <%= t ".download" %>
      <i class="fa fa-download"></i>
    <% end %>
    <div class="image-name"><%= image.file_name %></div>
  </div>
</div>
