<tr>
  <td>
    <%= index_on_pagination expert_counter, assigns["experts"].current_page,
      Settings.experts.per_page %>
  </td>
  <td><%= image_tag expert.avatar.small.url %></td>
  <td><%= link_to expert.full_name, admin_expert_path(expert) %></td>
  <td><%= expert.title %></td>
  <td><%= expert.workplace %></td>
  <td><%= expert.priority %></td>
  <td>
    <div class="dropdown btn-dropdown">
      <a data-toggle="dropdown">...</a>
      <ul class="dropdown-menu dropdown-menu-right dropdown-btns">
        <li>
          <%= link_to edit_admin_expert_path(expert), class: "btn btn-xs btn-flat" do %>
            <i class="fa fa-pencil-square-o"></i>
            <%= t ".edit" %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to admin_expert_path(expert), method: :delete,
            data: {confirm: t(".confirm_delete")}, class: "btn btn-xs btn-flat" do %>
            <i class="fa fa-trash-o"></i>
            <%= t ".delete" %>
          <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>
