<% provide :header_title, t(".expert_title_html", name: @expert.full_name) %>
<% breadcrumb :admin_expert, @expert %>
<% content_for :experts_activation, "active" %>
<div class="row expert-detail">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"><%= t ".account" %></h3>
      </div>
      <div class="box-body">
        <table class="table table-striped">
          <%= render "shared/data", attribute: Expert.human_attribute_name(:full_name),
            value: @expert.full_name %>
          <%= render "shared/data", attribute: Expert.human_attribute_name(:title),
            value: @expert.title %>
          <%= render "shared/data", attribute: Expert.human_attribute_name(:workplace),
            value: @expert.workplace %>
            <%= render "shared/data", attribute: Expert.human_attribute_name(:facebook_url),
            value: link_to(@expert.facebook_url, @expert.facebook_url, targer: :_blank) %>
          <%= render "shared/data", attribute: Expert.human_attribute_name(:address),
            value: @expert.full_address %>
          <%= render "shared/data", attribute: Expert.human_attribute_name(:priority),
            value: @expert.priority %>
        </table>
      </div>
      <div class="box-footer">
        <%= link_to edit_admin_expert_path(@expert), class: "btn btn-warning btn-flat pull-right" do %>
          <i class="fa fa-pencil-square-o"></i>
          <%= t ".edit" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= image_tag @expert.avatar.url %>
  </div>
</div>
