<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".title_admin" %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag  "management/application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "management/application", "data-turbolinks-track": "reload" %>

    <link rel="shortcut icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/vinalign/favicon.png"/>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div id="modal_holder"></div>
    <div class="wrapper">
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/side_bar" %>
      <div class="content-wrapper">
        <section class="content-header clearfix">
          <%= breadcrumbs style: :bootstrap %>
          <h1><%= yield :header_title %></h1>
        </section>
        <div id="flash-messages">
          <%= render "layouts/shared/flash" %>
        </div>
        <section class="content">
          <%= yield %>
        </section>
      </div>
      <footer class="main-footer">
      </footer>
    </div>
  </body>
</html>
