<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  "management/application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "management/application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/side_bar" %>
      <div class="content-wrapper">
        <section class="content-header clearfix">
          <h1><%= yield :header_title %></h1>
          <%= breadcrumbs style: :bootstrap %>
        </section>
        <div id="flash-messages">
          <%= render "layouts/shared/flash" %>
        </div>
        <section class="content">
          <%= yield %>
        </section>
      </div>
      <footer class="main-footer">
      </footer>
    </div>
  </body>
</html>
