<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  "clinic/application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "clinic/application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="hold-transition skin-yellow-light sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/clinic/header" %>
      <%= render "layouts/clinic/side_bar" %>

      <div class="content-wrapper">
        <div class="content">
          <div id="flash-messages">
            <%= render "layouts/shared/flash" %>
          </div>
          <%= yield %>
        </div>
      </div>

      <footer class="main-footer">
      </footer>
    </div>
  </body>
</html>
