<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag  "management/application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "management/application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/clinic_management/header" %>
      <%= render "layouts/clinic_management/side_bar" %>

      <div class="content-wrapper">
        <div id="flash-messages">
          <%= render "layouts/shared/flash" %>
        </div>
        <%= yield %>
      </div>

      <footer class="main-footer">
      </footer>
    </div>
  </body>
</html>
