<%= form_for expert_search, url: experts_path, html: {method: :get, class: "form-horizontal"} do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <%= f.label :full_name, Expert.human_attribute_name(:full_name) %>
      <%= f.text_field :full_name, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.label :workplace, Expert.human_attribute_name(:workplace) %>
      <%= f.text_field :workplace, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.label :province_id_eq, Expert.human_attribute_name(:province) %>
      <%= f.select :province_id_eq, support.province_options,
        {include_blank: t(".all_provinces")}, class: "form-control" %>
    </div>
    <div class="col-md-2">
      </br>
      <%= f.button class: "btn btn-flat btn-default btn-search" do %>
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <%= t(".search") %>
      <% end %>
    </div>
  </div>
<% end %>
